/* Estilos para la barra de navegación */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.see-more-button:hover {
    text-decoration: underline;
}

.header {
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
    text-align: center;
}

.header h1 {
    font-size: 36px;
    margin: 0;
    font-family:'Times New Roman', Times, serif ;
}

nav.header2 {
    background-color: #f77371;
    padding: 15px 0;
    text-align: right;
    display: block;
    text-align: right;

}
nav.header {
    background-color: #ffffffa6;
    padding: 15px 0;
    text-align: left;
    display: block;
}


li.nav-container-element2 {
    display: inline;
    margin-right: 20px;
}



li.nav-container-element {
    display: inline;
    margin-right: 20px;
}

li.nav-container-element a {
    text-decoration: none;
    color: #151516;
    font-weight: bolder;
    font-size: 20px;
}

li.nav-container-element2 a {
    text-decoration: none;
    color: #151516;
    font-weight: bolder;
    font-size: 20px;
}

.nav-container-element a:hover {
    border-bottom: 1px solid #ff0000;
    transition: border-bottom 0.3s ease;
}

.nav-container-element2 a:hover {
    border-bottom: 1px solid #ff0000;
    transition: border-bottom 0.3s ease;
}





/* Estilos para el cuerpo principal */
main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

.sub-title {
    font-size: 24px;
    color: #0e0e0e;
    margin-bottom: 20px;
    text-align: center;
    font-style: italic;
}

section {
    margin-bottom: 15px;
}

.post-container {
    background-color: #f77371;
    padding: 20px;
    border-radius: 10px ;
}
.post-container_s {
    background-color: #db09053a;
    padding: 20px;
    border-radius: 10px ;
}


.post-container h3 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 10px;
    text-align: center;
    font-style: italic;
}

.post-container p {
    font-size: 20px;
    color: #640505;
    line-height: 1.4;
    margin-bottom: 15px;
}

.post-container li {
    font-size: 20px;
    color: #640505;
    line-height: 1.4;
    margin-bottom: 15px;
}


.post-container a {
    color: #ffffff;
    text-align: center;
    font-style: italic;
    font-size: 20px;

}
.post-container2 ul{
    font-size: large;
}

/* Estilos para el footer */

footer {
    background-color: #ff0000c6;
    color: #FFFFFF;
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-size: 18px;
    margin: 0;
    color: #ffffff;
}

/* Estilo para el enlace de correo electrónico */
footer a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

/* Cambia el color del enlace de correo electrónico en hover */
footer a:hover {
    color: #000000;
}

/* Estilos que se pueden repetir en diferentes páginas */
.return-btn {
    background-color: #ff0116ce;
    color: #000000;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.return-btn:hover {
    background-color: #f77371;
    color: #F1FAEE;
}

.next-btn {
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.next-btn:hover {
    background-color: #f77371;
}